<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1 th:text="${titolo}"></h1>

	<form action="#" th:action="@{/listaLibri/saveLibro}"
		th:object="${formLibro}" method="post">
		<p>
			<input hidden type=number th:field="${formLibro.id}" required />
		</p>
		<p>
			Titolo: <input type=text th:field="${formLibro.titolo}" required />
		</p>
		<p>
			Pagine: <input type=number th:field="${formLibro.pagine}" required />
		</p>
		<p>
			Prezzo: <input type=number step=0.01 th:field="${formLibro.prezzo}" required/>
		</p>
		<button>Aggiungi</button>
	</form>
</body>
</html>