<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h2 th:if="!${isUpdate}">Inserisci autore</h2>
<h2 th:if="${isUpdate}">Modifica autore</h2>
<form action="#" th:action="@{/autore/save}" th:object="${autore}" method="post">
	<p> Id: <input type="number" th:field="${autore.id}"/></p>
	<p> nome: <input type="text" th:field="${autore.nome}"/></p>
	<p> cognome: <input type="text" th:field="${autore.cognome}"/></p>
	<p> nazionalita: <input type="text" th:field="${autore.nazionalita}"/></p>
	<input hidden="true" type="text" name="isUpdate" th:value="${isUpdate}"/>
<!-- 
	<p> <input type="submit" value="Aggiungi" th:onclick="'saveAutore('+${isUpdate}+')'"> </p>
 -->
	<p> <input type="submit" value="Save"> </p>
</form>

<!-- 
<script type="text/javascript" src="../js/saveAutore.js"></script>
 -->

</body>
</html>