<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form action="#" th:action="@{/listaLibri/updLibro/{id}}" th:object="${formLibro}" method="get">
		<p><input readonly type=email th:field="${formLibro.id}"/> </p>
		<p>Titolo: <input type=text th:field="${formLibro.titolo}"/> </p>
		<p>Pagine: <input type=number th:field="${formLibro.pagine}"/> </p>
		<p>Prezzo: <input type=number step=0.01 th:field="${formLibro.prezzo}"/> </p>
	</form>

</body>
</html>