<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Modifica Libro</title>
</head>
<body>

	<h1 th:text="${titolo2}"></h1>

	<form action="#" th:action="@{/listaLibri/updLibro}" th:object="${formLibro}" method="post">
		<p><input readonly hidden type=number th:field="${formLibro.id}"/> </p>
		<p>Titolo: <input type=text th:field="${formLibro.titolo}"/> </p>
		<p>Pagine: <input type=number th:field="${formLibro.pagine}"/> </p>
		<p>Prezzo: <input type=number step=0.01 th:field="${formLibro.prezzo}"/> </p>
		<button>Modifica</button>
	</form>

</body>
</html>